.u-section-1 .u-sheet-1 {
  min-height: 1337px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 859px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 462px;
  margin: 45px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 30px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-text-3 {
  font-size: 3.75rem;
  font-weight: 500;
  margin: 30px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 30px auto 45px;
  padding: 8px 33px;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1313px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 438px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1151px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 276px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }
}